.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.Home-buttonbox {
  display: flex;
  flex-direction: column;
}

.Home-button {
  cursor: pointer;
  padding: 0.5em 2em;
  margin-bottom: 1em;
}

