.Signup {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: center;
}

.Patient-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Patient-form-btn {
  margin-top: 1em;
}

.Patient-form-successbox {
  padding: 1em;
  border: 1px solid black;
  background-color: lightgreen;
}
